.container-slider {
    max-width: 100vw;
    height: 768px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 700px){
    .container-slider {
      margin: 100px 10px 0;
    }
  }
  .slide {
    width: 100%;
    height: 768px;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 768px;
    object-fit: cover;
  }
  
  .active-anim {
    opacity: 1;
  }

  .div_nav {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom : 1px solid $color-brand;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
    position: fixed;
    z-index: 4;
    background: transparent;
}

.div_nav.active {
  background: #343434;
}

.nav__img {
    width: 128px;
    height: 30px;
    margin-left: 100px;
    margin-top: 33px;
}

 .navbar {
  margin-right: 110px;
  ul{
      display: flex; 
    }

  li{
      list-style: none;
      margin-left: 55px;
      margin-top: 33px; 
    }
} 

 .navegacion{
  text-decoration: none;
  font-size: 1.6rem;
  color: $color-primary;
  font-family: $font-secondary;
} 

a:hover{
  color: $color-brand;
}
  
.container_texto{
    position: absolute;
    margin-top: 158px;
    margin-left: -15px;
    width: 554px;
    height: 157px;
  }


  .h1__text {
    font-size: 48px;
    color: $color-primary;
    font-family: $font-brand;
    margin-top: 60px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
  }

 .p__text {
    margin-top: 60px;
    margin-left: 101px;
    width: 343px;
    height: 42px;
    color: $color-primary;
    font-size: 16px;
    font-family: $font-secondary;
  }

  .boton_principal {
    position: absolute;
    background: #E0752F 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-size: 1.6rem;
    border: none;
    margin-top: 480px;
    margin-left: 88px;
}
  
  .container-dots {
    position: absolute;
    bottom: 22.9%;
    left: 10%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5F6368;
    margin: 0 5px;
  }
  .dot.active {
    background: $color-brand;

  }